@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Mars Rover Photos</p>
    @foreach (var photo in Model.Photos)
    {
        <p>Earth Date: @photo.earth_date</p>
        <p><img src="@photo.img_src" /></p>
    }
</div>
